@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  src: local('Sacramento'), local('Sacramento-Regular'), url(https://fonts.gstatic.com/s/sacramento/v4/WFDkXpubrEwopJnSlHV6CL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
